<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div id="app" v-html='message'> -->
        <div id="app">
        <!-- Conditional directive -->
        <p v-if="show"><b><i>{{ message }}</i></b></p>
        <p v-else="show">{{ message2 }}</p>
        <p>Result from {{ int }} + {{ int2 }} is {{ result }}</p>
        <button v-on:click="sumProcess(2)">Proccess</button>
        <br>
        <input type="text" v-model="kilometers">
        <input type="text" v-model="meters">
        <br>
        <textarea cols="30" rows="10" v-model="textarea"></textarea>
        <p style="white-space: pre-line">{{ textarea }}</p>
        <br>
        Choice your favorite programming language:
        <select v-model="select" multiple>
            <option value="" disabled>Choice programming language</option>
            <option value="javascript">Javascript</option>
            <option value="php">PHP</option>
            <option value="python">Python</option>
        </select>
        <br>
        Your favorite language is: {{ select }}
        <br>
        <ul>
            <li v-for="sel in select">{{ sel }}</li>
        </ul>
        <br>
        <label for="">Watching movie</label>
        <input type="checkbox" value="watching-movie" v-model="checkbox">
        <br>
        <label for="">Traveling</label>
        <input type="checkbox" value="traveling" v-model="checkbox">
        <br>
        My Hobbies are : {{ checkbox }}
    </div>

    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

</body>
</html>