<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vue</title>
</head>
<body>
    <div id="app">
        <ul>
            <comments v-for="comment in comments" :comment="comment"></comments>
        </ul>

        <textarea v-model="comment_text" cols="30" rows="10" @keyup.enter="postComment"></textarea>
    </div>

    <template id="comment-template">
        <div>
            <button type="button" v-on:click="tambah">+</button>
            <div>{{comment.body}} || {{ comment.time }} || Score : {{ score }}</div>
            <button type="button" @click="kurang">-</button>
            <br><br>
        </div>
    </template>

    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>